@charset "UTF-8";
/*
    typical device breackpoints
----------------------------------
Pequenas telas: até 600px
Celular: 600px a 768px
Tablet: 768px a 992px
Desktop: 992px a 1200px
Grandes telas: acima de 1200px
----------------------------------
*/
@media print{ /*impressão*/
   
}

@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/ 
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section{
        width: 80vw;
        height: 280px;
    }
    article#img{
        float: left;
        width: 30%;
        height: 100% ;
        border-radius: 20px 0px 0px 20px ;
    }
    article#loginF{
        float: right;
        width: 70%;
    }
    article#loginF > p {
        margin-bottom: 4px;
        font-size: medium;
    }
   
}
@media screen and (min-width: 992px) { /*desktop*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section{
        width: 950px;
        height: 350px;
    }
    article#img {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px ;
    }
    article#loginF{
        float: left;
        width: 50%;
        height: 100%;
    }
    .cadastro{
        margin: 5px 0px 5px 0px;
    }
    article#loginF > p {
        margin-bottom: 4px;
        font-size: large;
    }
    article#loginF > h1{
        width: 100%;
        text-align: center;
        margin-bottom: 4px;
        font-size: xx-large;  
    }

}
