@charset "UTF-8";
/*
    typical device breackpoints
----------------------------------
Pequenas telas: até 600px
Celular: 600px a 768px
Tablet: 768px a 992px
Desktop: 992px a 1200px
Grandes telas: acima de 1200px
----------------------------------
*/
@media print{ /*impressão*/
   
}
@media screen and (max-width: 767px) {
    main > section#prodsprincipal{
        width: 90vw;
        height: max-content;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/ 
    
    #princimarcas::-webkit-scrollbar{
        display: block;
    }
    #depoimentos::-webkit-scrollbar{
        display: block;
    }
    main{
        padding-top: 48px;
        transition: linear 1s;
        
    }
    nav > span{
        font-size: x-large;
        transition: linear 1s;
    }
    span#burguer, span#mail, span#arrow-left, #sifra{
        font-size: xx-large;
        transition: linear 1s;
    }
    nav > .logo{
        width: 50px;
        height: 50px;
        transition: linear ease-in-out 1s;
    }
    main > section#capa{
        height: 80vh;
        transition: linear 1s;
    }
   #card-fret > p{
    font-size: x-large;
    transition: linear 1s;
   }
   #card-fret > p > span{
    font-size: x-large;
    transition: linear 1s;
   }
   .orçamento > a > h1{
    font-size: large;
    transition: linear 1s;
   }
   .orçamento > a:hover{
    box-shadow: 0px 0px 8px ;
    width: 55vw;
    transition: linear 1s;
   }
   .orçamento > a{
    width: 50vw;
    transition: linear 1s;
   }
   .orçamento > a > #phone{
    font-size: x-large;
    transition: linear 1s;
   }
   .tituloh1 > h1{
    font-size: x-large;
    transition: linear 1s;
   }
   .tituloh1 > #topicoh1{
    font-size: xx-large;
    transition: linear 1s;
   }
   main > #prodsprincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome{
    height: 350px;
    width: 350px;
    margin: 20px 0px;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome > img{
    height: 350px;
    width: 350px;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome > span > a{
    font-size: xx-large;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome > span {
    
    width: 350px;
    transition: linear 1s;
   }
   #card-formaspag > article > article > h1{
    font-size: x-large;
    transition: linear 1s;
   }
   #card-formaspag > article > article > h1 > #cartao, #boleto, #pix{
    font-size: x-large;
    transition: linear 1s;
   }
   #card-formaspag > article > article > img{
    width: 200px;
    height: 200px;
    transition: linear 1s;
   }
   #quemsomos > p{
    font-size: large;
    transition: linear 1s;
   }
   #depoimentos{
    padding: 30px 50px;
    transition: linear 1s;
   }
   .dep > img{
    width: 100px;
    height: 100px;
    transition: linear 1s;
   }
   .dep > p{
    font-size: x-large;
    transition: linear 1s;
   }
   .dep > p > q{
    font-size: x-large;
    transition: linear 1s;
   }
   .whatsapp1{
    width: 60px;
    height: 60px;
   }
}
@media screen and (min-width: 992px) { /*desktop*/
    #princimarcas::-webkit-scrollbar{
        display: block;
    }
    #depoimentos::-webkit-scrollbar{
        display: block;
    }
    main{
        padding-top: 48px;
        transition: linear 1s;
        
    }
    nav > span{
        font-size: x-large;
        transition: linear 1s;
    }
    span#burguer, span#mail, span#arrow-left, #sifra{
        font-size: xx-large;
        transition: linear 1s;
    }
    nav > .logo{
        width: 50px;
        height: 50px;
        transition: linear ease-in-out 1s;
    }
    main > section#capa{
        height: 80vh;
        transition: linear 1s;
    }
   #card-fret > p{
    font-size: x-large;
    transition: linear 1s;
   }
   #card-fret > p > span{
    font-size: x-large;
    transition: linear 1s;
   }
   .orçamento > a > h1{
    font-size: large;
    transition: linear 1s;
   }
   .orçamento > a:hover{
    box-shadow: 0px 0px 8px ;
    width: 55vw;
    transition: linear 1s;
   }
   .orçamento > a{
    width: 50vw;
    transition: linear 1s;
   }
   .orçamento > a > #phone{
    font-size: x-large;
    transition: linear 1s;
   }
   .tituloh1 > h1{
    font-size: x-large;
    transition: linear 1s;
   }
   .tituloh1 > #topicoh1{
    font-size: xx-large;
    transition: linear 1s;
   }
   main > #prodsprincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome{
    height: 350px;
    width: 350px;
    margin: 20px 0px;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome > img{
    height: 350px;
    width: 350px;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome > span > a{
    font-size: xx-large;
    transition: linear 1s;
   }
   main > #prodsprincipal > .prodsprincihome > span {
    
    width: 350px;
    transition: linear 1s;
   }
   #card-formaspag > article > article > h1{
    font-size: x-large;
    transition: linear 1s;
   }
   #card-formaspag > article > article > h1 > #cartao, #boleto, #pix{
    font-size: x-large;
    transition: linear 1s;
   }
   #card-formaspag > article > article > img{
    width: 200px;
    height: 200px;
    transition: linear 1s;
   }
   #quemsomos > p{
    font-size: large;
    transition: linear 1s;
   }
   #depoimentos{
    padding: 30px 50px;
    transition: linear 1s;
   }
   .dep > img{
    width: 100px;
    height: 100px;
    transition: linear 1s;
   }
   .dep > p{
    font-size: x-large;
    transition: linear 1s;
   }
   .dep > p > q{
    font-size: x-large;
    transition: linear 1s;
   }
   .whatsapp1{
    width: 60px;
    height: 60px;
   }
    main > #prodsprincipal > .prodsprincihome > span > a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.062);
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
        
    }
    main > #prodsprincipal > .prodsprincihome > span > a:hover{
        background-color: rgba(255, 255, 255, 0.527);
        color: white;
        transition: linear 1s;
        
    }
}
