@charset "UTF-8";
/*
    typical device breackpoints
----------------------------------
Pequenas telas: até 600px
Celular: 600px a 768px
Tablet: 768px a 992px
Desktop: 992px a 1200px
Grandes telas: acima de 1200px
----------------------------------
*/
@media print{ /*impressão*/
   
}
@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/ 
    #princimarcas::-webkit-scrollbar{
        display: block;
    }
    #depoimentos::-webkit-scrollbar{
        display: block;
    }

}
@media screen and (min-width: 992px) { /*desktop*/
    #princimarcas::-webkit-scrollbar{
        display: block;
       
    }
    ::-webkit-scrollbar{
        display: block;
       
    }
    #depoimentos::-webkit-scrollbar{
        display: block;
    } 
    main > #prodsprincipal > .prodsprincihome > span > a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.062);
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
        
    }
    main > #prodsprincipal > .prodsprincihome > span > a:hover{
        background-color: rgba(255, 255, 255, 0.527);
        color: white;
        transition: linear 1s;
        
    }
}
