@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
.auxform{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form{
    height: max-content;
    width: 95vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: solid 2px rgba(118, 118, 134, 0.753);
    border-radius: 5px;
    
}
.usuario, .senha, .numeros, .data-aniversario, .email, .cel, .media, .sexo, .esportes, .estado, .prof, .msgu, .numerosu, .soma, .numerosu1{
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2px;
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: max-content;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    border-radius: 50px;
    padding: 3px;
    border: solid 2px rgb(47, 78, 255);
}
label{
    font-weight: bolder;
    font-size: large;
    color: aqua;
}
.botao-enviar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
fieldset{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    height: max-content;
    padding: 1px;
}
#esportes{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    height: max-content;
    padding: 1px;
}
#msg{
    align-items: flex-start;
}
.cnf{
    display: flex;
}